/*=============================================================================
  Comments styling
=============================================================================*/

.commentContainer {
  position: relative;
  @include border(1px, $dark-color-on-white-bgr);
  padding: 0.6rem 1.5rem 0.6rem 5rem;
  margin-bottom: 0.6rem;

  header {
    color: $dark-color-on-white-bgr;
    font-weight: 500;
    font-variant: small-caps;
    margin-bottom: 1rem;
  }

  img {
    position: absolute;
    left: 10px;
    top: 15px;
    width: 60px;
  }

  footer {
    background-color: transparent;
    padding: 0;
    margin: 0;
    line-height: 0;
  }
}

.delete-comment-btn {
  border: none;
  background: none;
  color: $dark-color-on-white-bgr;
  position: absolute;
  top: 10px;
  right: 5px;
  height: 20px;
  width: 20px;
}

.edit-comment-btn {
  border: none;
  background: none;
  color: $dark-color-on-white-bgr;
  position: absolute;
  top: 10px;
  right: 30px;
  height: 20px;
  width: 20px;
}

.filters {

  margin-bottom: 0.6rem;

  select {
    width: 100%;
    @include border(1px, $dark-color-on-white-bgr);
    padding: 0.5rem 0.5rem;
    margin-bottom: 0.6rem;

    &:focus {
      outline: none;
      outline: 1px solid $dark-color-on-white-bgr;
    }

  }
  button {
    color: $light-color-on-dark-bgr;
    text-transform: uppercase;
    padding: 0.5rem 1.25rem;
    border: none;
    background-color: $dark-color-on-white-bgr;
    margin: 0 auto;
    font-weight: 300;
    transition: background-color 0.75s, font-weight 0.75s, color 0.75s;
    margin-right: 0.25rem;
    margin-bottom: 0.75rem;

    &:hover {
      background-color: $light-color-on-dark-bgr;
      color: $dark-color-on-white-bgr;
      font-weight: 700;
      transition: background-color 0.75s, color 0.75s, font-weight 0.75s;
    }
  }
}

@media (max-width: 768px) {
  .commentContainer {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .filters button {
    margin-left: 15px;
  }

  .commentContainer {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .comments-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .commentContainer {
    margin: auto;
    width: 45%;
    margin-bottom: 1em;
  }
}