//Colors
$dark-color-on-white-bgr: rgb(3, 88, 127);
$light-color-on-dark-bgr: rgb(255, 255, 255);

//Fonts
$raleway-font: 'Raleway', Arial, sans-serif;
$montserrat-font: 'Montserrat', Arial, sans-serif;